<h1>Students</h1>

<ul>
    <% @students.each do |student| %>
      <li class="student pull-left">
        <%= link_to student.nickname, student %>
      </li>
    <% end %>
</ul>

<div class="clearfix"></div>

<h1>Tasks</h1>
<ul>
    <% @tasks.each do |task| %>
        <li class="task pull-left">
          <p class="<%= 'finished' unless task.available? %>">
            <span class="<%= 'business' if task.business %>">
               <%= content_tag(:b, "#{'★' * task.points}") %>
            </span>
            <%= task.description %><br>
          </p>
        </li>
    <% end %>
</ul>